@import url(https://fonts.googleapis.com/css?family=Roboto:100);

*{
  margin: 0px;
}
body{
  background-color: #34495e;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

a{
  font-size: 36pt;
  font-family: 'Roboto', sans-serif;
  color: #ecf0f1;
}

a:visited{
  direction: none;
}

a:link {
    text-decoration: none;
}

ul{
  list-style-type: none;
}
li{
  padding-top:1%;
  padding-bottom: 1%;
}

#f{
  margin-top: 10%;
}

#l2{
  margin-left: 5%;
}

#l3{
  margin-left: 10%;
}

#l4{
  margin-left: 15%;
}
#l5{
  margin-left: 20%;
}
#l6{
  margin-left: 25%;
}
